

body div.big{
    background-color: bisque;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    

}
body div.big form input{
    padding: 8px 15px;
    background: white;
    font-size: 20px;
    border-radius: 7px;
   
}
body div.big form button{
    margin-left: 12%;
    padding: 8px 14px;
    background-color: blueviolet ;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
}
body div.big form button:hover{
    background: cadetblue;
    transition: 0.5s;
}