*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing:none;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
nav{
    background: #008080;
    height: 80px;
    width:100%;
}
label.logo{
    color:aliceblue;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float:right;
    margin-right: 30px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
 
}
nav ul li form input{
    padding: 7px 190px;
    
}
nav ul li form button{
    padding: 7px 14px;
    font-size: 18px;
    margin-left:10px;
    color:rgb(4, 34, 61);
  
    
}
nav ul li a{
    color:bisque;
    font-size: 18px;
    padding: 7px 13px;
    margin-left:7px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active, a:hover{
    background: cadetblue;
    transition: 0.5s;

}